{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          <b>Привет, я автор</b>
        </div>
        <div class="card-body">
          <p>
            Меня зовут Сергей, мне 31 год, я из Москвы.
          </p>
          <p>
            По образованию я ландшафтный архитектор, какое-то время делал проекты на фрилансе, 
            сейчас работаю ведущим инженером-проектировщиком в компании, которая делает парки и общественные пространства.
          </p>
          <p>
            Учиться кодить начал для своего личного проекта — 
            <a href="https://plantsfinder.ru/">онлайн-сервиса по подбору растений для ландшафтного дизайна</a>. 
            Ландшафтники до сих пор пользуются бумажными каталогами, а я захотел сделать себе удобный инструмент :)
          </p>
          <p>
            Чтобы сайт на Вордпрессе с кучей плагинов  работал и не разваливался, я начал разбираться во всём, что могло помочь: HTML, CSS, JS. 
            Учил по бесплатным курсам на платформе Stepik и просто гуглил. В итоге понял, 
            что на готовых решениях без знания бэкенда далеко не уйти и начал учить Python.
          </p>
          <p>
            Прошёл бесплатную часть Практикума, потом продолжил на Stepik и начал потихоньку тренироваться на мелких задачках: 
            написал парсер, который собирает информацию с сайтов питомников растений, чтобы потом я мог добавить её в свой каталог.
          </p>
          <p>
            В порядке эксперимента написал бота, который торговал на криптобирже и отправлял мне сообщения о своей работе в телеграм. 
            Бот проработал неделю, заработал мне 15 рублей 38 копеек. На этом я решил что эксперимент теоретически удался, 
            а рисковать нормальными деньгами я пока не буду))
          </p>
          <p>
            Понял, что программирование интересует меня больше, чем проектирование, и решил сменить профессию.
          </p>
          <p>
            P.S. В свободное время играю в игры Geecko.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 