{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          <b>Вот что я умею</b>
        </div>
        <div class="card-body">
          <p>
            <b>Python</b>
          </p>
          <p>
            Для создания данного проека использовался Python. 
          </p>
          <p>
            С изучением самого языка в данном курсе проблем не возникает. 
            Это связано с тем, что я много практиковался до начала обучения в Яндекс.Практикуме.
          </p>
          <hr>
          <p>
            <b>Django</b>
          </p>
          <p>
            А вот c этим фреймворком ранее я не работал, что значительно усложняет обучение. 
            На данный момент трудности вызвала тема 'Валидация форм', а ORM требует большей практики.
          </p>
          <hr>
          <p>
            <b>Bootstrap</b>
          </p>
          <p>
            Как только появится свободное время - сяду изучать.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 