{% extends 'base.html' %}
{% block title %}Вы успешно отписались{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Вы успешно отписались
      </div>
      <div class="card-body">
        <p>
          Вы больше не подписаны на автора <a href="{% url 'posts:profile' author.username %}">{{ author.get_full_name }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %} 